.addAnswerBtn{
    padding: .5rem 1rem;
    border-radius: 5px;
    border: .1rem dashed black;
    background-color: white;
}
.OptionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(209, 209, 209);
}
.optionTag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}
.option{
    background-color: grey;
}
.actionButtons{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}